Core/JSON Node-red ING_SOFTWARE_II.txt
[{"id":"8e0d9d8d.74dab","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"94608d98.67353","type":"mqtt in","z":"8e0d9d8d.74dab","name":"Sensor Gas","topic":"gas","qos":"0","datatype":"auto","broker":"5aea07cc.587608","x":119.62965393066406,"y":31.740760803222656,"wires":[["434c09c4.654a08","858af85e.db4a08"]]},{"id":"b4c2604c.6ccfd","type":"sqlite","z":"8e0d9d8d.74dab","mydb":"8e6657de.de04b8","sqlquery":"msg.topic","sql":"","name":"db","x":849.7777099609375,"y":353.7407531738281,"wires":[[]]},{"id":"434c09c4.654a08","type":"function","z":"8e0d9d8d.74dab","name":"INSERT state","func":"var newMsg = {\n \"topic\": \"INSERT INTO sensorGas(estado) VALUES (\\\"\"+msg.payload+\"\\\")\"\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":402.5234375,"y":68.88284301757812,"wires":[["b4c2604c.6ccfd"]]},{"id":"d524c5.03119338","type":"mqtt in","z":"8e0d9d8d.74dab","name":"Sensor de Humedad","topic":"humedad","qos":"0","datatype":"auto","broker":"5aea07cc.587608","x":120,"y":218.66665649414062,"wires":[["5950dd4e.215db4","e39c99d.c5588e8"]]},{"id":"9b55893a.800f68","type":"mqtt in","z":"8e0d9d8d.74dab","name":"Sensor Temperatura","topic":"Temperatura","qos":"0","datatype":"auto","broker":"5aea07cc.587608","x":133,"y":293.6666564941406,"wires":[["4137b643.c5604","6372e527.d3f9dc"]]},{"id":"d28578f4.c1b63","type":"mqtt in","z":"8e0d9d8d.74dab","name":"Sensor Luz","topic":"mensaje","qos":"0","datatype":"auto","broker":"5aea07cc.587608","x":133,"y":564.6667175292969,"wires":[["6efc83e1.bf1e64","db2e9df7.598d28"]]},{"id":"30db70ab.89408","type":"mqtt in","z":"8e0d9d8d.74dab","name":"Sensor Infrarrojo","topic":"estado1","qos":"0","datatype":"auto","broker":"5aea07cc.587608","x":133,"y":678.6666870117188,"wires":[["2862eddb.b91282","b6105174.f51d68"]]},{"id":"dfb98faa.23f67","type":"mqtt in","z":"8e0d9d8d.74dab","name":"Alimentador","topic":"feedsh","qos":"0","datatype":"auto","broker":"5aea07cc.587608","x":124,"y":959.6665649414062,"wires":[["864a747d.4b2ef8","c569028b.92f108"]]},{"id":"9512a507.7b4278","type":"mqtt in","z":"8e0d9d8d.74dab","name":"Sensor Turbiedad","topic":"voltaje","qos":"0","datatype":"auto","broker":"5aea07cc.587608","x":143,"y":778.6666564941406,"wires":[["833273bb.ee1f5","b3e8af53.bb083"]]},{"id":"ae0fe416.56f818","type":"mqtt in","z":"8e0d9d8d.74dab","name":"Sensor que persigue Luz xd","topic":"Volta","qos":"0","datatype":"auto","broker":"5aea07cc.587608","x":155,"y":1012.6666564941406,"wires":[["bcba2fcc.d41308","774ea39c.c417fc"]]},{"id":"4137b643.c5604","type":"function","z":"8e0d9d8d.74dab","name":"INSERT TEMPERATURA","func":"var newMsg = {\n \"topic\": \"INSERT INTO temperaturaControlada(temperatura) VALUES (\\\"\"+msg.payload+\"\\\")\"\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":421.0333251953125,"y":333.4666748046875,"wires":[["b4c2604c.6ccfd"]]},{"id":"6efc83e1.bf1e64","type":"function","z":"8e0d9d8d.74dab","name":"INSERT STATE LUZ","func":"var newMsg = {\n \"topic\": \"INSERT INTO sensorLuz(estadoL) VALUES (\\\"\"+msg.payload+\"\\\")\"\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":404.0333251953125,"y":599.4667053222656,"wires":[["b4c2604c.6ccfd"]]},{"id":"2862eddb.b91282","type":"function","z":"8e0d9d8d.74dab","name":"INSERT STATE","func":"var newMsg = {\n \"topic\": \"INSERT INTO aireAcondicionado(estadoA) VALUES (\\\"\"+msg.payload+\"\\\")\"\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":408.0333251953125,"y":690.4666748046875,"wires":[["b4c2604c.6ccfd"]]},{"id":"864a747d.4b2ef8","type":"function","z":"8e0d9d8d.74dab","name":"INSERT STATE","func":"var newMsg = {\n \"topic\": \"INSERT INTO alimentador(estadoC) VALUES (\\\"\"+msg.payload+\"\\\")\"\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":441.0333251953125,"y":957.4666748046875,"wires":[["b4c2604c.6ccfd"]]},{"id":"833273bb.ee1f5","type":"function","z":"8e0d9d8d.74dab","name":"INSERT VOLTAGE","func":"var newMsg = {\n \"topic\": \"INSERT INTO turbiedadAgua(voltajeA) VALUES (\\\"\"+msg.payload+\"\\\")\"\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":444.0333557128906,"y":780.4666442871094,"wires":[["b4c2604c.6ccfd"]]},{"id":"bcba2fcc.d41308","type":"function","z":"8e0d9d8d.74dab","name":"INSERT VALUE","func":"var newMsg = {\n \"topic\": \"INSERT INTO solarT(voltageT) VALUES (\\\"\"+msg.payload+\"\\\")\"\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":436.03333282470703,"y":1034.4667100906372,"wires":[["b4c2604c.6ccfd"]]},{"id":"5950dd4e.215db4","type":"function","z":"8e0d9d8d.74dab","name":"INSERT state","func":"var newMsg = {\n \"topic\": \"INSERT INTO humedadTierra(estadoH) VALUES (\\\"\"+msg.payload+\"\\\")\"\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":388.0333251953125,"y":249.46664428710938,"wires":[["b4c2604c.6ccfd"]]},{"id":"858af85e.db4a08","type":"ui_text","z":"8e0d9d8d.74dab","group":"faa3d7ff.7d4578","order":0,"width":0,"height":0,"name":"Estado","label":"Estado: ","format":"{{msg.payload}}","layout":"row-left","x":381.5,"y":32.933319091796875,"wires":[]},{"id":"6372e527.d3f9dc","type":"ui_gauge","z":"8e0d9d8d.74dab","name":"","group":"a3b42cd0.d0edc","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":378.5,"y":289.8666687011719,"wires":[]},{"id":"f278bac2.4f1d78","type":"mqtt in","z":"8e0d9d8d.74dab","name":"Sensor Temperatura","topic":"Hot","qos":"0","datatype":"auto","broker":"5aea07cc.587608","x":139,"y":372,"wires":[["3e624df4.bdfec2","55e7b815.73344"]]},{"id":"a3d05bfa.e0c708","type":"mqtt in","z":"8e0d9d8d.74dab","name":"Sensor Temperatura","topic":"Cold","qos":"0","datatype":"auto","broker":"5aea07cc.587608","x":136,"y":486,"wires":[["b55007bd.26d228","bbd8605b.9f4b48"]]},{"id":"3e624df4.bdfec2","type":"function","z":"8e0d9d8d.74dab","name":"INSERT STATE HOT","func":"var newMsg = {\n \"topic\": \"INSERT INTO temperaturaControlada(estadoCalefaccion) VALUES (\\\"\"+msg.payload+\"\\\")\"\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":403,"y":417,"wires":[["b4c2604c.6ccfd"]]},{"id":"b55007bd.26d228","type":"function","z":"8e0d9d8d.74dab","name":"INSERT STATE COLD","func":"var newMsg = {\n \"topic\": \"INSERT INTO temperaturaControlada(estadoEnfriamiento) VALUES (\\\"\"+msg.payload+\"\\\")\"\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":409,"y":515.9999694824219,"wires":[["b4c2604c.6ccfd"]]},{"id":"f463b6ef.9132d","type":"mqtt in","z":"8e0d9d8d.74dab","name":"Sensor Turbiedad","topic":"turbiedad","qos":"0","datatype":"auto","broker":"5aea07cc.587608","x":140,"y":859.9999389648438,"wires":[["f289ad2d.8eedb","2671401f.4e82c8"]]},{"id":"f289ad2d.8eedb","type":"function","z":"8e0d9d8d.74dab","name":"INSERT TURBIEDAD","func":"var newMsg = {\n \"topic\": \"INSERT INTO turbiedadAgua(nivelTurbiedad) VALUES (\\\"\"+msg.payload+\"\\\")\"\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":456,"y":854.9999694824219,"wires":[["b4c2604c.6ccfd"]]},{"id":"55e7b815.73344","type":"ui_text","z":"8e0d9d8d.74dab","group":"a3b42cd0.d0edc","order":1,"width":0,"height":0,"name":"","label":"Calefacción: ","format":"{{msg.payload}}","layout":"row-left","x":370.5,"y":378.33331298828125,"wires":[]},{"id":"bbd8605b.9f4b48","type":"ui_text","z":"8e0d9d8d.74dab","group":"a3b42cd0.d0edc","order":2,"width":0,"height":0,"name":"","label":"Refrigeración: ","format":"{{msg.payload}}","layout":"row-left","x":389.5,"y":475.33331298828125,"wires":[]},{"id":"db2e9df7.598d28","type":"ui_text","z":"8e0d9d8d.74dab","group":"efdfd9cf.eed1d","order":0,"width":0,"height":0,"name":"","label":"Estado: ","format":"{{msg.payload}}","layout":"row-left","x":368.75,"y":558.4499816894531,"wires":[]},{"id":"b6105174.f51d68","type":"ui_text","z":"8e0d9d8d.74dab","group":"59424041.bec888","order":0,"width":0,"height":0,"name":"","label":"Estado: ","format":"{{msg.payload}}","layout":"row-left","x":387.75,"y":644.4333190917969,"wires":[]},{"id":"35a69203.56d16e","type":"mqtt in","z":"8e0d9d8d.74dab","name":"Sensor de Humedad","topic":"nivelh","qos":"0","datatype":"auto","broker":"5aea07cc.587608","x":119.88333129882812,"y":158.88333129882812,"wires":[["4aa8e01d.c3f5a8","6afdfb56.fa23d4"]]},{"id":"4aa8e01d.c3f5a8","type":"function","z":"8e0d9d8d.74dab","name":"INSERT state","func":"var newMsg = {\n \"topic\": \"INSERT INTO humedadTierra(nivelHumedad) VALUES (\\\"\"+msg.payload+\"\\\")\"\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":391.8833312988281,"y":176,"wires":[["b4c2604c.6ccfd"]]},{"id":"6afdfb56.fa23d4","type":"ui_chart","z":"8e0d9d8d.74dab","name":"","group":"5e04b953.681cc","order":0,"width":0,"height":0,"label":"Nivel de humedad","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":404.75,"y":138.89999389648438,"wires":[[]]},{"id":"e39c99d.c5588e8","type":"ui_text","z":"8e0d9d8d.74dab","group":"5e04b953.681cc","order":1,"width":0,"height":0,"name":"","label":"Estado: ","format":"{{msg.payload}}","layout":"row-left","x":371.75,"y":213.43331909179688,"wires":[]},{"id":"b3e8af53.bb083","type":"ui_gauge","z":"8e0d9d8d.74dab","name":"","group":"5cf4d064.572338","order":0,"width":0,"height":0,"gtype":"gage","title":"Voltaje","label":"V","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":406.25001525878906,"y":746.8000030517578,"wires":[]},{"id":"2671401f.4e82c8","type":"ui_gauge","z":"8e0d9d8d.74dab","name":"","group":"5cf4d064.572338","order":1,"width":0,"height":0,"gtype":"donut","title":"Turbiedad","label":"NTU","format":"{{value}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":414.25001525878906,"y":819.8000030517578,"wires":[]},{"id":"c569028b.92f108","type":"ui_text","z":"8e0d9d8d.74dab","group":"bbc1edb8.a03b9","order":0,"width":0,"height":0,"name":"","label":"Estado:","format":"{{msg.payload}}","layout":"row-left","x":420.25001525878906,"y":912.9000091552734,"wires":[]},{"id":"774ea39c.c417fc","type":"ui_gauge","z":"8e0d9d8d.74dab","name":"","group":"82da3c23.7e2d4","order":0,"width":0,"height":0,"gtype":"compass","title":"Voltaje","label":"V","format":"{{value}}","min":"0","max":"4","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410.2734375,"y":999.015625,"wires":[]},{"id":"5aea07cc.587608","type":"mqtt-broker","z":"","name":"Core","broker":"172.20.160.107","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8e6657de.de04b8","type":"sqlitedb","z":"","db":"/home/pi/Granja.db","mode":"RWC"},{"id":"faa3d7ff.7d4578","type":"ui_group","z":"","name":"Sensor de gas","tab":"f364f8ff.7e158","disp":true,"width":"6","collapse":false},{"id":"a3b42cd0.d0edc","type":"ui_group","z":"","name":"Temperatura","tab":"f364f8ff.7e158","order":1,"disp":true,"width":"7","collapse":false},{"id":"efdfd9cf.eed1d","type":"ui_group","z":"","name":"Sensor de Luz","tab":"f364f8ff.7e158","disp":true,"width":"6","collapse":false},{"id":"59424041.bec888","type":"ui_group","z":"","name":"Sensor infrarrojo","tab":"f364f8ff.7e158","disp":true,"width":"6","collapse":false},{"id":"5e04b953.681cc","type":"ui_group","z":"","name":"Sensor de Humedad","tab":"f364f8ff.7e158","disp":true,"width":"6","collapse":false},{"id":"5cf4d064.572338","type":"ui_group","z":"","name":"Sensor turbiedad","tab":"f364f8ff.7e158","disp":true,"width":"6","collapse":false},{"id":"bbc1edb8.a03b9","type":"ui_group","z":"","name":"Alimentador","tab":"f364f8ff.7e158","disp":true,"width":"6","collapse":false},{"id":"82da3c23.7e2d4","type":"ui_group","z":"","name":"Sensor de que persigue luz","tab":"f364f8ff.7e158","disp":true,"width":"6","collapse":false},{"id":"f364f8ff.7e158","type":"ui_tab","z":"","name":"2IL141","icon":"dashboard","disabled":false,"hidden":false}]
